* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Press Start 2P";
  cursor: default;
}

main {
  height: 100vh;
  background-color: #f5dc6f;
}

.start {
  height: 100vh;
  background-color: #f5dc6f;
}

.start .startScreen {
  width: 70%;
  height: 48%;
  border: 5px solid #f3b95f;
  background-color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.start .startScreen .center {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.start .startScreen .center button {
  padding: 16px 24px;
  background-color: #f5dc6f;
  border: 3px solid #f3b95f;
  font-size: 20px;
  color: white;
  cursor: pointer;
}

.hide {
  display: none;
}

.top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 15px;
  color: white;
}

.top .restart {
  padding: 16px 24px;
  background-color: white;
  border: 3px solid #f3b95f;
  font-size: 20px;
  color: #f3b95f;
  cursor: pointer;
}

h1 {
  font-size: 32px;
  text-align: center;
  margin: 30px;
  color: white;
}

.secretNumber {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 18px 26px;
  background-color: white;
  border: 3px solid #f3b95f;
  font-size: 36px;
  color: #f5dc6f;
  margin: auto;
}

.play {
  width: 70%;
  margin-top: 26px;
  padding-top: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.play .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 26px;
}

.play .left input {
  padding: 50px;
  width: 230px;
  height: 80px;
  border: 3px solid #f3b95f;
  outline: none;
  font-size: 40px;
  color: #f3b95f;
  cursor: text;
}

.play .left .check {
  padding: 14px 20px;
  background-color: white;
  border: 3px solid #f3b95f;
  font-size: 18px;
  color: #f3b95f;
  cursor: pointer;
  margin: 20px;
}

.play .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.play .right p {
  color: white;
  font-size: 16px;
  margin-bottom: 26px;
}

.play .right span {
  color: white;
  font-size: 16px;
  margin: 26px 0;
}
/*# sourceMappingURL=index.css.map */